/* Blog Rules */
img[style*="left"],
figure[style*="left"] {
  padding: .5em .5em .5em 0;
}
img[style*="right"],
figure[style*="right"] {
  padding: .5em 0 .5em .5em;
}
.rss-link img {
  margin-bottom: -1px;
  margin-right: .5em;
}
/* Position share link at bottom left of content */
.addtoany_list {
  clear: both;
  display: block!important;
}
.clear:after,
.field-name-body:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#blog-banner img {
  width: 100%; /* responsive banner image */
}
#autocomplete {
  max-height: 100px;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #aa0501;
}
#edit-keys-2 {
  width: 300px;
}
.content {
  padding-bottom: 2px;
}
.form-item {
  position: relative;
}
.flex-direction-nav li a.prev:hover,
.flex-direction-nav li a.next:hover {
  text-decoration: none;
  background: #aa0501;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
#views-exposed-form-advanced-search-page .views-exposed-widget {
  clear: left;
}

#views-exposed-form-advanced-search-page input[type="text"] {
  width: 300px;
  height: 10px;
}

#edit-field-subject-heading-
per, #edit-field-subject-heading-wrapper select {
  width: 100%;
}

.views-field-title:first-letter {
  text-transform: uppercase;
}
.view-browse-by-category td.views-field.views-field-title {
  width: 200px;
}
#block-menu-menu-advanced-search h2 {
  display: none;
}
.views-table thead .views-field-field-issuing-body a {
  color: #FFFFFF;
}
#leftsoldier {
  float: left;
}
#rightsoldier {
  float: right;
}
#buttons {
  padding-left: 200px;
}

#information pre {
  font-size: 14px;
}

.page-loyalist-search .views-field-counter,
.page-loyalist-search .views-field-title,
.page-advanced-record-search .views-field-counter,
.page-advanced-record-search .views-field-title {
  font-size: 1.2em
}

.page-loyalist-search .views-field-search-api-excerpt,
.page-advanced-record-search .views-field-search-api-excerpt {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.page-loyalist-search .views-row,
.page-advanced-record-search .views-row {
  padding: 5px;
}

.page-loyalist-search .views-row-even,
.page-advanced-record-search .views-row-even {
  background: #f0f0f0;
}

#back-to-top {
  width: 29%;
}

#copyright {
  color: #fff;
  font-size: inherit;
}

#footer a {
  text-decoration: underline;
}

/* responsive media youtube videos */
.media-youtube-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.media-youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* adjust whitespace for media module images */
figure {
  margin-bottom: 1em;
}

/* add missing space between label + authernticated username in comment form */
#comments label+a {
  margin-left:.25em;
}

#wrap {
  width:95%; /* 5% padding forces 100% total width */
  max-width: 1200px;
  padding: 0 2.5%;
}
body.sidebar-first #content {
  width: 78%;
}
#sidebar {
  width: 17%;
}
#footer-wrap {
  margin: 0 -45px;
  padding: 0 3.5%;
}
/* fix pager overlap with above content */
ul.pager {
  margin-top: 1em;
}
/* increase pager button width */
ul.pager li a {
  padding-left: .25em;
  padding-right: .25em
}
ul.pager li.pager-current {
  padding-left: .75em; /* default 0.5em + 0.25em to account for linked pager items */
  padding-right: .75em
}

.noborder table,
.noborder td,
.noborder th {
  border: none;
}

/* Table of image links */
.linked-cells td img {
  border: 1px solid transparent; /* fix border hover jump */
  display: block /* resolve bottom whitespace issue */
}
.linked-cells td h2,
.linked-cells td p {
  margin: 0;
}
.linked-cells td h2 a { /* clickable whitespace around linked text */
  display: block;
  padding-top: 1em;
}
a:focus,
.linked-cells td:hover h2 a {
  color: #2e8484;
  text-decoration: underline;
}
.linked-cells a:focus img,
.linked-cells td:hover img {
  border: 1px solid #333;
  opacity: .8;
}

@media only screen and (max-width: 767px) {
  /* push sidebar to bottom */
  body.sidebar-first #content,
  #sidebar {
    width: 100%;
  }
  /* override non-matching menu button color, push down, match pager button roundness */
  #navigation {
    background: #000;
    border-radius: 3px;
    margin-top: 2em;
  }
}
